body {
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 10px;
  max-width: 1200px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.192);
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#0c1b33, #004666, #007786);
  width: 100%;
  height: 6rem;
  padding: 3rem;
}
#header #logo {
  width: 5rem;
  height: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
#header #btnMobile {
  display: none;
  width: 40px;
  height: 40px;
  font-size: 3.3rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 40px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.3rem;
  cursor: pointer;
}
#header #menu {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  transition: 60s;
}

#header #menu a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #f2f2f2;
  border: 1px solid transparent;
}
#header #menu a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  #header #btnMobile {
    display: block;
  }
  #header #menu {
    display: none;
    position: absolute;
    top: 6rem;
    right: 0;
    left: 0;
    width: 100%;
    height: calc(auto - 6rem);
    background-color: rgb(184, 178, 178);
    z-index: 9999;
  }
  #header #nav.active #menu {
    display: block;
    padding-bottom: 1rem;
    padding: 0 1rem;
  }
  #header #menu a {
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: #004666;
  }
}
